@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Boldonse&display=swap");

:root {
  /* --font-sans: "Boldonse", Arial, Helvetica, sans-serif; */
  --font-mono: monospace;
  --background: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Boldonse", sans-serif;
}
